<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wastatus.savestory.statussaver.directmessage.savemedia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" /> <!-- <uses-permission android:name="READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" /> -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="s">
        <activity
            android:name=".newStatus.activities.HomeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <service android:name=".service.WhatsappService"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.Splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.start.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.privacy.PrivacyActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.stylishFonts.activities.StylishFontsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.scan.ScanWhatsappActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.directChat.activities.ChatDirectActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.ascii.activities.AsciiCategoryActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.emoji.activities.TextToEmojiActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.ascii.activities.AsciiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.textRepeater.activities.TextRepeaterActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.Status.activities.PreviewActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.wastatus.savestory.statussaver.directmessage.savemedia.Status.activities.VideoPreviewActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wastatus.savestory.statussaver.directmessage.savemedia.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <service
            android:name=".service.NotifyListener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ServiceNotificationReader"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <service android:name=".service.StartGetting" />
    </application>

</manifest>